*~
*#
.#*
.cask
.cache
keys

/changes
/elpa
/auto-save-list
/.mc-lists.el
/bak
/ido.last
/recentf
/smex-items
/custom.el
/eshell
/projectile-bookmarks.eld
/user.el
/var
/tramp
/abbrev_defs
/transient
/bookmarks
/semanticdb
/persp-confs
/annotations
projects
*.md
*.md.html
.org-id-locations
/quelpa/
/infra/*/build
