*~
*#
.#*
.cask
.cache

/changes
/elpa
/auto-save-list
/.mc-lists.el
/bak
/ido.last
/recentf
/smex-items
/custom.el
/eshell
/projectile-bookmarks.eld
/user.el
/var
/tramp
/abbrev_defs
/dev
/transient
/bookmarks
/semanticdb
